# Copyright (c) 2023, Centro de Inovação Edge.
# SPDX-License-Identifier: BSD-3-Clause

menuconfig OLED_DISPLAY
    bool "OLED SH1106 Display"

if OLED_DISPLAY

choice
prompt "Display Hardware Communication"
default DISPLAY_SPI

    config DISPLAY_SPI
        bool "Real OLED over SPI."
        select SPI

    config DISPLAY_VIRTUAL
        bool "Virtual OLED over RTT."
        select CONSOLE
        select RTT_CONSOLE
        select USE_SEGGER_RTT
endchoice

config DISPLAY_MAX_FPS
    int "Display maximum frame rate, in FPS."
    default 24
    range 12 24

config INACTIVE_THRESHOLD_MINS
    depends on DISPLAY_SPI
    int "Display maximum inactive time, in minutes."
    default 5

config VIRTUAL_DISPLAY_MARKER_STR
    depends on DISPLAY_VIRTUAL
    string "Screen buffer marker string."
    default "#!D-VRAM#!"

endif # OLED_DISPLAY
